$colors: (
    facebook: #3a5795,
    twitter: #55acee,
    google: #db4a39,
);

@each $colorName, $iconColor in $colors{
    .boton--#{$colorName}{
        color: $iconColor;
    }
}

.boton{
    &--instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
.footer{
    margin-top: 100px;
}
.footerRow{
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
}
.footH5{
    font-size: 1.2rem;
    color: rgba(0,0,0,.5);
    background-color: transparent;
}